.top-left-logo {
    color: #7296EE;
}

.currency-symbol {
    color: #2959CE;
}

.currency-symbol {
    color: #2959CE;
}

.side_menu_link {
    color: #7F7F7F;
}

.latest-news-heading {
    color: #000000;
}

.latest-news-paragraph {
    color: #4A4B4C;
}

.latest-news-sub {
    color: #5E5F61;
}

.latest-news1-paragraph {
    color: #4A4B4C;
}

.latest-news1-sub {
    color: #5E5F61;
}

.news2-sub {
    color: #5E5F61;
}

.foot-part {
    background: #7297EF;
}

.foot-link {
    color: #FFFFFF;
}

.social-media {
    color: #FFFFFF;
}